:root {
  --color-bg: #dcd9e3;
  --color-text: #234;
  
  // RENCI Color Palette
  --color-renci: #00758d;
  --color-unc: #4b9cd3;

  // UNC Color Palette
  --color-unc-carolina-blue: #4b9cd3;
  --color-unc-navy: #13294b;
  --color-unc-black: #151515;
  --color-unc-white: #ffffff;
  --color-unc-gray: #f8f8f8;
  --color-unc-basin-slate: #4f758b;
  --color-unc-campus-sandstone: #f4e8dd;
  --color-unc-longleaf-pine: #00594c;
  --color-unc-azalea-pink: #ef426f;
  --color-unc-tile-teal: #00a5ad;
  --color-unc-sunburst-yellow: #ffd100;
  --color-unc-davie-green: #c4d600;
  --color-unc-hyperlink-blue: #007fae;
}

