.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(120deg, var(--color-bg), var(--color-renci));
}

.title {
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(65deg);
  }
  100% {
    transform: rotate(60deg);
  }
}

.react-logo {
  animation: spin infinite 1000ms ease-out;
}