# Default values for neurobridges.
# This is a YAML-formatted file.
# Declare default variables to be passed into your templates.

replicaCount: 1

image:
  repository: containers.renci.org/neurobridges/neurobridges-portal
  tag: "1.0.5"

service:
  port: 8080

ingress:
  enabled: false
#  annotations:
#    nginx.ingress.kubernetes.io/whitelist-source-range: "0.0.0.0/0,::/0"

# TODO: Tune these based on usage
resources:
  requests:
    cpu: 100m
    memory: 100Mi
  limits:
    memory: 200Mi
