:root {
  
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  letter-spacing: 1px;
  background-color: #ab9;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;  
}
