.App {
  font-family:Georgia, 'Times New Roman', Times, serif
}

.App-header {
  background-color: #282c34;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
  cursor: pointer;
}

#results-header {
  font-size: large;
}

#results-container {
  margin-top: 2rem
}